repos:
- repo: https://github.com/pycqa/flake8
  rev: 7.1.1
  hooks:
    - id: flake8
      files: recipe\/.*\.py
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.1
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
      files: recipe\/.*\.py
- repo: https://github.com/psf/black
  rev: 24.10.0
  hooks:
    - id: black
      files: recipe\/.*\.py
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
    - id: yamllint
      files: recipe\/patch_yaml\/.*\.yaml

ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: false
    autoupdate_commit_msg: '[ci skip] [pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: monthly
    skip: []
    submodules: false
